<div class="sign_in container">
    <div class="sign_in_wrapper">
        <h1 class="title">Sign In</h1>
        <div class="sign_in_form">
            <%= form_with(url: sessions_path, local: true) do |form|%>
                <div class="form_elements">
                    <%= form.label :username, "Username"%>
                    <%= form.text_field :username, class: "username" %>
                    <%= form.submit "Sign in", class: "btn btn--sign"%>
                </div>
            <% end %>
        </div>    
        <p>Don't have an account? <%= link_to "Sign up", new_user_path %></p>
    </div>
</div>
