<h1>Sign up</h1>

<%= form_with model: @user do |form| %>
    <%= form.label :username, "Username"%>
    <%= form.text_field :username %>
    <%= form.submit 'sign in'%>
<% end %>

<p><%= link_to "Sign In"%></p>