<div class="sign_in container ">
    <div class="sign_in_wrapper">
        <% if @user.errors.any? %>
            <% @user.errors.full_messages.each do |msg|%>
                <p class= "error-form"> <span class=error-asterix>*</span> <%= msg %></p>
            <% end %>
        <% end %>
        <h1 class="title">Sign up</h1>
        <div class="sign_in_form">
            <%= form_with model: @user, local: true do |form|%>
                <div class="form_elements">
                    <%= form.label :username, "Username"%>
                    <%= form.text_field :username, class: "username" %>
                    <%= form.submit "Sign in", class: "btn btn--sign"%>
                </div>
            <% end %>
        </div>    
    <p>Already have an account? <%= link_to "Sign In",new_session_path %></p>
    </div>
</div>
