<div class="event__card">
    <div class="card__header">
        <%= link_to event_path(event) do %>
            <%= image_tag 'Untitled-6.svg'%>
        <% end %>
    </div>
    <div class="event__info container">
        <%= link_to event_path(event) do%>
            <h4 class="sub-title"><%=event.title %></h4>
        <% end %>
        <P class="event_date"><%= event.event_date.strftime(" %a, %b %d, %Y" )%></P>
        <p>Venue : <%= event.venue%></p>
    </div>
</div>