<div class="container row event__showpage">
    <div class="event__details">
        <div class="event"> 
            <div class="event__hero">
                <div class="event__hero--img">
                    <%= image_tag "block party 1.svg"%>
                </div>
                <div class='event__hero--sidebar'>
                    <div class="date">
                        <p><%= @event.event_date.strftime("%b")%></p>
                        <P><%= @event.event_date.strftime("%d")%></P>
                    </div>
                    <h4 class="title"><%= @event.title%></h4>
                    <small>by <%= link_to @event.creator.username, user_path(@event.creator),  class: "profile_link"%></small>
                </div>
            </div>
            <div class="event__description">
                <div class="description">
                    <h3 class="title">About this event</h3>
                    <p><%= @event.description%></p>
                </div>
                <div class="event__description--sidebar">
                    <h4>Date and time</h4>
                    <p class="date"><%= @event.event_date.strftime(" %a, %b %d, %Y" )%></p>
                    <p>Location</p>
                    <h4><%= @event.venue%></h4>
                </div>
            </div>
        </div>
        <div class="guest__list">
            <small>Only guests with invites will appear here, check inbox and accept invitation</small>
            <h2 class="title">Guest list</h2>
            
               <% @confirmed_guests.each do |guest|%>
                    <p><%= guest.username%></p>
               <% end %>
        </div>
    </div>
    <% if logged_in? && (current_user.has_invite(@event) || @event.creator.id == current_user.id) %>
    <div class="create__guestlist"> 
       <div class="add__guests">
            <h2 class="title">Create your guest list</h2>
            <%= form_with(url: invitations_path) do |form|%>
                <div class="guests">
                    <% @guests.each do |guest|%>
                        <div class="user__check row">
                            <p> <%= guest.username%></p>
                            <%= form.check_box("guest", {multiple: true}, guest.id,nil) %>
                        </div>
                    <% end %>
                </div>
                <%= form.submit "Send invites", class: "btn"%>
                <%= form.hidden_field :event_id, :value => @event.id%>
            <% end %>
       </div>
    </div>
    <% end %>
</div>




